---
import { getEntry, CollectionEntry } from 'astro:content'
import { absolutePath } from '@utils'

import Card from '@comp/Card.astro'

interface Props {
  person: CollectionEntry<'person'>
  link?: string
  size: 'sm' | 'md' | 'lg'
}

let { person, link, size } = Astro.props

const metaNow  = await getEntry('meta', 'now')
const headshot = await getEntry('image', person.data.headshot.id)

const gridLayout =
  size === 'sm' ? '[grid-template-columns:1fr_2fr]' :
  size === 'md' ? '[grid-template-columns:1fr_1fr]' :
    '[grid-template-columns:1fr_1fr]'

---

<Card heading="Citizen" link={link}>
  <div class:list={[ "grid gap-8", gridLayout ]}>
    <img src={absolutePath(headshot.data.filepath)} alt={person.data.day_name} 
        class="w-full aspect-square object-cover " />

    <div class="grid gap-2">
      <h3 class="font-title-lesser text-2xl">{person.data.day_name}</h3>

      <dl>
        <dt>Names</dt>
        <dd>{person.data.names}</dd>
        <dt>Gender</dt>
        <dd>{person.data.gender}</dd>
        <dt>Vocation</dt>
        <dd>{person.data.vocation}</dd>
        <dt>Age</dt>
        <dd>{metaNow.data.year - person.data.birthdate}</dd>
        <dt>Residence</dt>
        <dd>{person.data.residence}</dd>
      </dl>
    </div>
  </div>
</Card>

<style>
  dt { font-weight: 500; font-family: var(--font-title); }
  dd + dt { margin-top: 0.5rem; }
</style>
